section{
    grid-template-columns: 1fr 1.9fr;
}
article .header h2{
    font-weight: 700;
    font-size: 24px;
}
article p{
    color: #888;
    margin-top: 5px;
    font-size: 13px;
}
article h3{
    font-size: 0.99em;
    font-weight: 500;
}
article .header p{
    color: #888;
    margin-top: 15px;
    font-size: 15px;
}
/* first article start */
article:first-child{
    grid-column: 1/3;
    display: flex;
    align-items: center;
    padding: 0;
}
/* profile-header start */
article:first-child .profile-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #eee;
    justify-content: center;
    flex-basis: 220px;
    flex-grow: 0.05;
}
article:first-child .profile-header h2{
    font-size: 19px;
}
article:first-child .profile-header p{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
}
article:first-child .profile-header i{
    color: #f59e0b;
    font-size: 13px;
}
article:first-child .profile-header span{
    margin-bottom: 15px;
    height: 5px;
    border-radius: 5px;
    background-color: #eee;
    width: 145px;
}
article:first-child .profile-header span::before{
    background-color: var(--blue);
    border-radius: 5px;
    width: 70%;
}
article:first-child .profile-header p:last-of-type{
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 14px;
}
article:first-child img{
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
}
/* profile-header end */
/* profile-info start */
.lable-input{
    display: none;
}
main .check-container{
    display: block;
    min-width: 75px;
    width: 75px;
    height: 20px;
    border-radius: 35px;
    background-color: var(--blue);
    color: white;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}
.check-container i{
    font-size: 13px;
    position: absolute;
    top:50%;
    right: 0;
    transform: translate(-5px,-50%);
    transition: right 0.3s;
}
.check-container i:last-child{
    opacity: 0;
}
article:nth-child(1) .lable-input:checked + .check-container{
    background-color: #cccccc;
}
article:nth-child(1) .lable-input:checked + .check-container i{
    right: calc(100% - 23px);
    opacity: 0;
}
article:nth-child(1) .lable-input:checked + .check-container i:last-child{
    opacity: 1;
}
article:nth-child(1) .profile-info{
    height: 100%;
    flex-basis: 325px;
    flex-grow: 1;
}
article:nth-child(1) .profile-info>div{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #eee;
    padding-left: 20px;
    transition: background-color 0.3s;
    padding: 20px 0 10px 20px;
}
article:nth-child(1) .profile-info>div:last-of-type{
    border: none;
    margin-bottom: 0;
}
article:nth-child(1) .profile-info>div .header{
    padding: 0;
}
article:nth-child(1) .profile-info>div .header p{
    margin-top: 0;
    font-weight: 500;
    margin-bottom: 10px;
}
article:nth-child(1) .profile-info>div .main{
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    align-items: center;
}
article:nth-child(1) .profile-info>div .main>*{
    flex-basis: 250px;
}

article:nth-child(1) .profile-info>div:hover{
    background-color: #f6f6f6;
}
article:nth-child(1) .profile-info>div .main p{
    font-size: 14px;

}
article:nth-child(1) .profile-info>div .main span{
    color: black;
}
article:nth-child(1) .profile-info>div .check-container{
    margin-top: 15px;
}
/* profile-header end */
@media (max-width:768px) {
    section{
        grid-template-columns: 1fr;
    }
    article:nth-child(3){
        grid-row: 3/4;
    }
    article:first-child{
        grid-column: 1/2;
        flex-direction: column;
    }
    article:first-child .profile-header{
        border: none;
    }
    article:first-child .profile-header span{
        width: 180px;
    }
    article:first-child .profile-header{
        padding: 20px 0;
    }
    article:first-child .profile-info{
        text-align: center;
        padding-left: 0;
        width: 100%;
    } 
    article:first-child .profile-info div:last-child{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/* first article end */
/* second article start */
article:nth-child(2) ul{
    margin-top: 15px;
}
article:nth-child(2) ul li{
    padding: 13px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
article:nth-child(2) ul li:not(:last-child){
    border-bottom: 1px solid #eee;
}
article:nth-child(2) ul p{
    color: black;
    font-size: 14px;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;
}
@media (max-width:768px) {
    article:nth-child(2) ul li{
        justify-content: center;
    }
}
/* second article end */
/* third article start */
article:nth-child(3) ul{
    margin-top: 5px;
}
article:nth-child(3) ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
article:nth-child(3) ul li h2{
    font-size: 16px;
    font-weight: 500;
}
article:nth-child(3) ul li .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
article:nth-child(3) ul li .text p{
    margin-top: 10px;
}
article:nth-child(3) ul li p{
    font-size: 16px;
    font-weight: 500;
}
article:nth-child(3) ul li .time p:first-of-type{
    text-align: right;
    color: black;
    margin-bottom: 10px;
    margin-top: 0;
}
article:nth-child(3) ul li:not(:last-child){
    border-bottom: 1px solid #eee;
}
article:nth-child(3) ul li div:first-child{
    display: flex;
    gap: 10px;
}
article:nth-child(3) img{
    width:65px;
    height: 65px;
}
@media (max-width:768px) {
    article:nth-child(3) ul li{
        flex-direction: column;
    }
    article:nth-child(3) ul li div:first-child{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    article:nth-child(3) ul li .time{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    article:nth-child(3) ul li .time p:first-child{
        text-align: center;
        margin-bottom: 0;
        margin-top: 10px;
    }
}
/* third article end */